.carousel {
  position: relative;
  height: auto; /* Defina uma altura fixa para o carrossel */
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #f0f0f0; /* Adicione um fundo para garantir visibilidade caso a imagem não ocupe todo o espaço */
}

.carousel img {
  width: 100%;
  height: 50dvh;
  display: inline-block;
  pointer-events: none;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  opacity: 0; /* Torna os botões invisíveis */
  transition: opacity 0.3s ease; /* Transição suave para a visibilidade */
}

.carousel__button--left {
  left: 10px;
}

.carousel__button--right {
  right: 10px;
}

.carousel:hover .carousel__button {
  opacity: 1; /* Torna os botões visíveis ao passar o mouse sobre o carrossel */
}

.carousel__indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.carousel__indicator {
  width: 5px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel__indicator.active {
  background-color: rgb(255, 255, 255);
}
