/* src/Header.css */
.header {
  max-width: auto;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
}

.nav a:hover {
  text-decoration: underline;
}
